<div class="container">
    <div class="row">
        <div class="col-sm-8" style="text-align: center;border-right: 3px;">
            <p style="font-size: 25px;font-weight: bold;">CHÀO MỪNG BẠN ĐẾN VỚI KHÁCH SẠN HOÀN MỸ</p>
        </div>
        <div class="col-sm-4" style="text-align: center;">
        </div>
    </div>
</div>