<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <p style="font-size: 25px;font-weight: bold;">TÌM DỊCH VỤ</p>
            <div style="background: black;height: 2px;width: 1150px;margin-bottom: 20px;">

            </div>
        </div>
    </div>
    <div class="row">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã dịch vụ</th>
                    <th>Tên loại dịch vụ</th>
                    <th>Tên dịch vụ</th>
                    <th>Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                    <%for(let i=0;i< listdv.length ; i++) {%>
                        <tr>
                            <td>
                                <%=listdv[i].maDichVu%>
                            </td>
                            <td>
                                <%=listdv[i].tenLoaiDichVu%>
                            </td>
                            <td>
                                <%=listdv[i].tenDichVu%>
                            </td>
                            <td>
                                <%=listdv[i].donGia%>
                            </td>
                        </tr>
                        <%}%>
                        
            </tbody>

        </table>
       
    </div>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({ 
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dịch vụ mỗi trang",
                    "search": "Nhập vào từ khóa muốn tìm:",
                    "infoEmpty": "Hiển thị 10 đến 100 dòng",
                    "paginate": {
                        "first":"Đầu tiên",
                        "last":"Cuối cùng",
                        "next":"Tiếp",
                        "previous":"Trở về"
                    },
                    "zeroRecords": "Không tìm thấy kết quả",
                    "info": "Hiển thị trang _PAGE_ của _PAGES_",
                    "infoFiltered":   "(Tìm trong _MAX_ dịch vụ)",
                },
                "rowReorder": true,
                "columnDefs": [
                    { "orderable": true, "className": 'reorder', "targets": 0 },
                    { "orderable": true, "className": 'reorder', "targets": 1 },
                    { "orderable": true, "className": 'reorder', "targets": 2 },
                    { "orderable": true, "className": 'reorder', "targets": 3 },
                    { "orderable": false, "targets": '_all' }
                ]
            
            });
        });
        
    </script>
</div>