<div class="container">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4"
        style="margin-top: 5%;font-family: 'Times New Roman', Times, serif;">
        <h2 style="text-align: center;font-weight: bold;">ĐÃ ĐỔI MẬT KHẨU THÀNH CÔNG</h2>   
            <div>
                <hr>
            </div>
            <button onclick="BacktoHome()" class="btn btn-primary"
            style="width: 100%;margin-bottom: 5px;height: 40px;border-radius: 20px;">TRỞ VỀ TRANG CHỦ</button>
        
    </div>
</div>

<script>
     function BacktoHome() {
        location.replace('/')
    }     
</script>