<div class="container">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4"
        style="margin-top: 5%;font-family: 'Times New Roman', Times, serif;">
        <h2 style="text-align: center;font-weight: bold;">QUÊN MẬT KHẨU</h2>   
            <div>
                <hr>
            </div>
        <form id="from" action="/quenmk2"onsubmit="return validateForm()" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input type="hidden" class="form-control" name="idtaikhoankhachhang" value="<%=id%>" required>
            </div>
            <div class="form-group">
                <input onblur="KiemTraMK()" type="password" class="form-control" placeholder="Mật khẩu mới" name="pass" id="pass" style="height: 50px;border-radius: 20px;">
                <span id="checkpass" style="color: red;font-size: 15px;"></span>
            </div>
            <hr>
            <button type="submit" class="btn btn-success" style="width: 100%;height: 40px;border-radius: 20px;">XÁC
                NHẬN</button>

            <div>
                <br>
            </div>
        </form>
        
    </div>
</div>

<script>
    function KiemTraMK() {
            var regMK = /^[A-Za-z0-9]{6,}$/;
            var MK = document.getElementById("pass").value;
            if (regMK.test(MK)) {
                document.getElementById("checkpass").innerHTML = "";
                return true;
            } else {
                document.getElementById("checkpass").innerHTML = "Mật khẩu không hợp lệ";
                return false;
            }
        }
     
        function validateForm() {
           if(KiemTraMK()){
               return true;
           }else{
               return false
           }
        }
        
        
</script>