<div class="container">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4"
        style="margin-top: 5%;font-family: 'Times New Roman', Times, serif;">
        <h2 style="text-align: center;font-weight: bold;">QUÊN MẬT KHẨU</h2>   
            <div>
                <hr>
            </div>
        
        <form id="from" action="/quenmk"onsubmit="return validateForm()" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input onblur="KiemTraEmail()" type="text" class="form-control" placeholder="Địa chỉ gmail đã đăng kí" name="gmail" id="gmail" style="height: 50px;border-radius: 20px;">
                <span id="checkmail" style="color: red;font-size: 15px;"></span>
            </div>
            <hr>
            <button type="submit" class="btn btn-success" style="width: 100%;height: 40px;border-radius: 20px;">XÁC
                NHẬN</button>

            <div>
                <br>
            </div>
        </form>
        
        <button onclick="BacktoHome()" class="btn btn-primary"
            style="width: 100%;margin-bottom: 5px;height: 40px;border-radius: 20px;">TRỞ VỀ</button>
            <br>
            <%if(kt != ''){%>
                <div class="alert alert-warning" style="margin-top: 15px;border-radius: 15px;">
                    <strong>Cảnh báo!</strong> <%=kt%>
                </div>
            <%}%>
    </div>
</div>

<script>
    function BacktoHome() {
        location.replace('/')
    }
    function KiemTraEmail() {
            var regEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            var Email = document.getElementById("gmail").value;
            if (regEmail.test(Email)) {
                document.getElementById("checkmail").innerHTML = "";
                return true;
            } else {
                document.getElementById("checkmail").innerHTML = "Nhập sai định dạng Gmail";
                return false;
            }
        }
     
        function validateForm() {
           if(KiemTraEmail()){
               return true;
           }else{
               return false
           }
        }
        
        
</script>